<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('common/header.ejs') %>
    <!-- <h1>profile page <%=posts.id%></h1> -->
    <!-- print ejs email  -->
    <!-- <p>age: <%=posts.title%></p> -->

    <!-- for in ejs for posts make html table  -->

     <table border="2">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>body</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < posts.length; i++) { %>
            <tr>
                <td><%=posts[i].id%></td>
                <td><%=posts[i].title%></td>
                <td><%=posts[i].body%></td>
            </tr>
            <% } %>
   
        </tbody>
    </table>



</body>
</html>